In [1]:
import pandas as pd

In [5]:
speed = {
    "ts": ["12:30","12:31","12:32","12:33"],
    "values": [1,2,3,4]
}
velocity = {
    "ts": ["12:30","12:32"],
    "values": [1,2]
}

In [7]:
pd.DataFrame(speed)

      ts  values
0  12:30       1
1  12:31       2
2  12:32       3
3  12:33       4

In [8]:
pd.DataFrame(velocity)

      ts  values
0  12:30       1
1  12:32       2

In [14]:
df = pd.merge(pd.DataFrame(speed), pd.DataFrame(velocity), on="ts", how="outer", suffixes=('_speed','_velocity'))
df

      ts  values_speed  values_velocity
0  12:30             1              1.0
1  12:31             2              NaN
2  12:32             3              2.0
3  12:33             4              NaN

In [17]:
for value in df['values_speed']:
    if (value % 2) == 0:
        print value

2
4

In [21]:
for i,row in df.iterrows():
    if (row['values_speed'] % 2) == 0:
        print row['ts']

12:31
12:33

In [29]:
df['values_speed'].apply(lambda x: (x % 2) == 0)

0    False
1     True
2    False
3     True
Name: values_speed, dtype: bool

In [30]:
df[df['values_speed'].apply(lambda x: (x % 2) == 0)]

      ts  values_speed  values_velocity
1  12:31             2              NaN
3  12:33             4              NaN